/* background colors */
.bg-black {
    background-color: #000;
}

.bg-white {
    background-color: #fff;
}

.bg-grey {
    background-color: #bebcbb;
}

.bg-dark-grey {
    background-color: #363636;
}

.bg-antracite {
    background-color: #1f1f1f;
}

.bg-red {
    background-color: #cd3d0f;
}

.bg-blue {
    background-color: #00439c;
}

.bg-dark-blue {
    background-color: #161c3b;
}

/* colors */
.white {
    color: #fff;
}

.light-blue {
    color: #0072ce
}

.grey {
    color: #727272;
}

/* HEADER */
.head-bar {
    height: 35px;
    line-height: 35px;
}

#logo-sony {
    height: 15px;
}

#main-nav {
    box-shadow: 0px 0px 2px #000;
    margin-top: 35px;
}

#main-nav .nav-link {
    color: #000;
}

#src {
    height: 25px;
}

.navbar-nav .nav-link::after {
    content: url(../img/chevron-down-solid.svg);
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    margin-left: 5px;
}


/* MAIN */
main {
    margin-top: 100px;
}

/* jumbotron */
.jumbo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 300px);
}

.jumbo-1 {
    background-image: url(../img/jumbo-bg.png);
}

.jumbo-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}


#returnal {
    max-width: 210px;
}

#takes-two {
    max-width: 210px;
}


/* game-list */
.game-list img {
    border-radius: 15px;
    margin-top: 20px;
}


/* ps5-accessories */
.ps5-accessories a {
    color: #000;
    text-decoration: none;
}

.ps5-accessories img:not(.ps5) {
    opacity: 60%;
}

.ps5-accessories div:first-child {
    border-bottom: 2px solid #0072ce;
}


/* banners */
#psplus {
    max-width: 315px;
}

#psnow {
    max-width: 290px;
}

@media screen and (max-width: 768px) {
    .img-banner {
        display: none;
    }

    .banner {
        padding: 50px 0;
    }
}

/* FOOTER */
.language img {
    width: 20px;
}

.main-foot a {
    text-decoration: none;
    color: #fff;
}

footer li {
    list-style-type: none;
}

.sie-logo {
    width: 130px;
}

/* HOVER EFFECTS */