/* background colors */
.bg-black {
    background-color: #000;
}

.bg-white {
    background-color: #fff;
}

.bg-grey {
    background-color: #bebcbb;
}

.bg-dark-grey {
    background-color: #363636;
}

.bg-antracite {
    background-color: #1f1f1f;
}

.bg-red {
    background-color: #cd3d0f;
}

.bg-blue {
    background-color: #00439c;
}

.bg-dark-blue {
    background-color: #161c3b;
}

/* colors */
.white {
    color: #fff;
}

.light-blue {
    color: #0072ce
}

.grey {
    color: #727272;
}

/* HEADER */
.head-bar {
    height: 35px;
    line-height: 35px;
}

#logo-sony {
    height: 15px;
}

#main-nav {
    box-shadow: 0px 0px 2px #000;
    margin-top: 35px;
}

#main-nav .nav-link {
    color: #000;
}

#src {
    height: 25px;
}

.navbar-nav .nav-link::after {
    content: url(../img/chevron-down-solid.svg);
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    margin-left: 5px;
}


/* MAIN */
main {
    margin-top: 100px;
}

/* jumbotron */
.jumbo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbo .row {
    height: 500px;
}

.jumbo-1 {
    background-image: url(../img/jumbo-bg.png);
}

.jumbo-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}


#returnal {
    max-width: 210px;
}

#takes-two {
    max-width: 210px;
}


/* game-list */
.game-list img {
    border-radius: 15px;
    margin-top: 20px;
    transition: 0.5s;
}


/* ps5-accessories */
.ps5-accessories a {
    color: #000;
    text-decoration: none;
}

.ps5-accessories div:not(.ps5) {
    opacity: 60%;
    transition: 0.5s;    
}

.ps5-accessories div:first-child {
    border-bottom: 2px solid #0072ce;
}


/* banners */
#psplus {
    max-width: 315px;
}

#psnow {
    max-width: 290px;
}

@media screen and (max-width: 768px) {
    .img-banner {
        display: none;
    }

    .banner {
        padding: 50px 0;
    }

    .ps5-accessories h6 {
        display: none;
    }
}

/* FOOTER */
.language img {
    width: 20px;
}

.main-foot a {
    text-decoration: none;
    color: #fff;
}

footer li {
    list-style-type: none;
}

.sie-logo {
    width: 130px;
}

/* HOVER EFFECTS */

/* nav-bar */
#main-nav a:hover {
    color: #0070d1;
}

.navbar-nav .nav-link:hover::after {
    content: url(../img/chevron-down-solid-hover.svg);
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    margin-left: 5px;
}


/* buttons */
#psplus-btn:hover{
    box-shadow: #d9dadc 0px 0px 15px;
    color: #0072ce;
}

.btn-danger:hover {
    border: 2px solid #bb2d3b;
    box-shadow: inset 0px 0px 0px 3px #000;
}

.btn-primary:hover {
    border: 2px solid #0b5ed7;
    box-shadow: inset 0px 0px 0px 3px #fff;
}

.btn-secondary:hover {
    border: 2px solid #5c636a;
    box-shadow: inset 0px 0px 0px 2px #fff ;
}

.b-black:hover {
    border: 2px solid #f9fafb;
    box-shadow: inset 0px 0px 0px 3px #000 ;
}

/* imgs */
.ps5-accessories div:hover {
    opacity: 100%;
}

.game-list figure:hover img {
    cursor: pointer;
    transform: translateY(-30px);
}